body{
    background-color: black;
}
.introduction {
    padding: 4px;
    font-size: 24px;
    color: white;
    font-family: verdana;
    text-align: center;
}
.resume-intro {
    padding: 4px;
    font-size: 24px;
    color: white;
    font-family: verdana;
    text-align: center;
}
.name {
    padding: 4px;
    font-size: 100px;
    color: white;
    font-family: verdana;
    font-weight: bold;
    text-align: center
}
.interests {
    padding: 4px;
    font-size: 24px;
    color: white;
    font-family: verdana;
    text-align: center;
}
.footer {
    padding: 4px;
    font-size: 10px;
    color: white;
    font-family: verdana;
    text-align: center;
}
#social-media {
	display: flex;
	flex-direction: row;
}
.icons{
    height: 50px;
    width: 50px;
}

#resume {
    padding-left: 10vw;
	width: 80vw;
	height: 60vw;
    font-family: verdana;
	text-align: center;
    color: rgb(255, 255, 255);
	padding-top: 15px;
	font-size: 1.5vw;
	padding-bottom: 100px;
}
#pdf-download{
	font-size: 15px;
    font-family: verdana;
	color: rgb(255, 255, 255);
	text-align: center;
}
